# VSCode stuff:
.vscode/

# C++/Scons/Godot stuff:
*.out
*.so
*.os
*.dblite
*.x86_64
src/gen/

# Excluding the test projects:
high-performance-godot-agents/
# godot-rl-compute-shader-demo/

# Brainstorming/design notes:
design/

# Python:
__pycache__/
*.egg-info/
.venv/

# Results of experiments:
python/**/*.jsonl
python/**/*.qdstrm
python/**/*.nsys-rep
python/runs/

# Images:
*.png
*.svg
*.mp4
*.gif