# VSCode stuff:
.vscode/

# C++/Scons/Godot stuff:
*.out
*.os
*.dblite
src/gen/

# Excluding the test project:
high-performance-godot-agents/

# Brainstorming/design notes:
design/

# Python:
__pycache__/
*.egg-info/
.venv/