# VSCode stuff:
.vscode/

# C++/Scons/Godot stuff:
*.out
*.so
*.os
*.dblite
*.x86_64
godot_plugin/src/gen/

# Godot project is untracked until cleaned up; scripts alongside it are tracked:
example_projects/ipc_test_env/godot_project/

# Brainstorming/design notes:
design/

# Python:
__pycache__/
*.egg-info/
.venv/

# Results of experiments:
python_package/**/*.jsonl
python_package/**/*.qdstrm
python_package/**/*.nsys-rep
python_package/runs/

# Images:
*.png
*.svg
*.mp4
*.gif